
<div class="row">

	<div id="section_header">
		<h2>Funzionalita</h2>
	</div>
	<div class="container">
		<tabset justified="true" class="nav nav-tabs nav-justified">
			<tab heading="Funzionalita">
				<div class="col-md-12 left-space" style="padding-top: 20px; padding-bottom: 40px;">
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Generazione veloce</strong></p>
					<ul class="font-size left-sapce-lg">
						<li>modalità “wizard”: scelta sport, scelta modello, scelta raggruppamento</li>
						<li>volantino raggruppato: stampa di eventi appartenenti a sport diversi, unendo i diversi volantini</li>
					</ul>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Generazione personalizzata</strong></p>
					<ul class="font-size left-sapce-lg">
						<li>selezione eventi</li>
						<li>filtro per sport e per campionato</li>
						<li>filtro per data di avvenimento</li>
						<li>scelta del modello per la generazione e controllo grafico di riepilogo (preview)</li>
					</ul>
				</div>
			</tab>
			<tab heading="Elementi di configurazione">
				<div class="col-md-12 left-space" style="padding-top: 20px; padding-bottom: 40px;">
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Applica conversione alle sigle dei campionati</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Apri finestra di anteprima di stampa dopo la generazione</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Apri finestra di stampa dopo la generazione</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Ripeti nome della manifestazione per eventi consecutivi</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Ripeti numero palinsesto per eventi consecutivi</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Inserisci testo pubblicitario</strong></p>
					<ul class="font-size left-sapce-lg">
						<li>pubblicità testuale con scelta font, colore e sfondo dello spazio pubblicitario</li>
						<li>pubblicità grafica con immagine personale</li>
					</ul>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Inserisci testo pubblicitario</strong></p>
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Inserisci testo pubblicitario</strong></p>
					<ul class="font-size left-sapce-lg">
						<li>informazioni testuali: tipo punto gioco, nome punto gioco</li>
						<li>grafica: logo personalizzato ricevitoria</li>
					</ul>
				</div>
			</tab>
			<tab heading="Requisti" style="padding-top: 20px; padding-bottom: 40px;">
				<div class="col-md-12 left-space" style="padding-top: 20px; padding-bottom: 40px;">
					<p><span class="glyphicon glyphicon-play" aria-hidden="true"></span><strong> Microsoft Windows XP/Vista/7, Microsoft Excel 2003/2007</strong></p>
				</div>
			</tab>
		</tabset>
	</div><!-- end of container -->
</div>
