<div class="modal-header">
      <button ng-click="regcancelBtn()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Registrati, è gratis!</h4>
</div>
<div class="modal-body">
      <form class="" name="regForm" ng-submit="registerBtn(regUser, regPass, fullname, email)">
            <div class="form-group" ng-class="{'has-error':regForm.fullName.$invalid && !regForm.fullName.$pristine}">
                  <div class="control-group">
                        <label class="control-label space-bottom-label" for="FullName">Full Name:</label>
                        <div class="controls input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                              <input id="fullName" name="fullName" class="form-control" type="text" ng-model="fullname" placeholder="Name Surname" class="input-large" required="true">
                        </div>
                  </div>
                  <div ng-messages="regForm.fullName.$error" ng-messages-multiple role="alert" class="help-block">
                        <div ng-messages-include="error-messages"></div>
                  </div>
            </div>
            <div class="form-group" ng-class="{'has-error':regForm.Email.$invalid && !regForm.Email.$pristine}">
                  <div class="control-group">
                        <label class="control-label space-bottom-label" for="Email">Email:</label>
                        <div class="controls input-group">
                              <span class="input-group-addon"><i class="">@</i></span>
                              <input id="Email" name="Email" class="form-control" type="email" ng-model="email" placeholder="example@domain.com" class="input-large" required="">
                        </div>
                  </div>
                  <div ng-messages="regForm.Email.$error" ng-messages-multiple role="alert" class="help-block">
                        <div ng-messages-include="error-messages"></div>
                  </div>
            </div>
            <div class="form-group" ng-class="{'has-error':regForm.userid.$invalid && !regForm.userid.$pristine}">
                  <div class="control-group">
                        <label class="control-label space-bottom-label" for="userid">Alias:</label>
                        <div class="controls input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input id="userid" name="userid" ng-model="regUser" class="form-control" type="text" placeholder="username" class="input-large" required="">
                        </div>
                  </div>
                  <div ng-messages="regForm.userid.$error" ng-messages-multiple role="alert" class="help-block">
                        <div ng-messages-include="error-messages"></div>
                  </div>
            </div>
            <div class="form-group" ng-class="{'has-error':regForm.password.$invalid && !regForm.password.$pristine}">
                  <div class="control-group">
                        <label class="control-label space-bottom-label" for="password">Password:</label>
                        <div class="controls input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                              <input id="password" ng-minlength="8" name="password" ng-model="regPass" class="form-control" type="password" placeholder="*********" class="input-large" required="">
                        </div>
                        <!--<label><em>min 8 caratteri</em></label>-->
                  </div>
                  <div ng-messages="regForm.password.$error" ng-messages-multiple role="alert" class="help-block">
                        <div ng-messages-include="error-messages"></div>
                  </div>
            </div>
            <div class="control-group">
                  <label class="control-label space-bottom-label" for="confirmsignup"></label>
                  <div class="controls input-group">
                        <button type="submit" id="confirmsignup" name="confirmsignup" class="btn btn-success">
                              <span class="glyphicon glyphicon-pencil"></span> Registrati
                        </button>
                  </div>
            </div>
      </form>
</div>
