<div class="row">
      <div class="col-md-12">
            <div class="row">
                  <div class="col-md-offset-4 col-md-4">
                        <a ng-href="#/stampa-rapida"><button class="btn-info btn-lg" style="width:100%"><label class="glyphicon glyphicon-cloud-download"></label> Stampa rapida</button></a>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-offset-4 col-md-4">
                        <a ng-href="#/stampa-personalizata"><button class="btn-success btn-lg" style="width:100%"><label class="glyphicon glyphicon-retweet"></label> Stampa Personalizata</button></a>
                  </div>
            </div>
      </div>
</div>
